
<template>
    <div>
        <button @click="toPage()">tess</button>
        <div :id="mapId" class="map"></div>

        <LRoutingMachine :mapObject="mapObject" :waypoints="waypoints" />
    </div>
</template>
  
<script>
import LRoutingMachine from "../components/LRoutingMachine.vue";
import "leaflet/dist/leaflet.css";
import L from "leaflet";

//   let waypoints = [
//     { lat: -6.167842155723877, lng: 106.82636895171409 },
//     { lat: parseFloat(this.$route.query.lat), lng: parseFloat(this.$route.query.lng) },
//   ];

export default {
    components: {
        LRoutingMachine,
    },
    data() {
        return {
            status: false,
            mapId: "map",
            mapObject: null,
            zoom: 6,
            toLocation: { lat: 0, lng: 0 },
            center: { lat: 0, lng: 0 },
            osmUrl: "http://{s}.tile.osm.org/{z}/{x}/{y}.png",
            attribution:
                '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
            waypoints: [
                { lat: -6.247570821665072, lng: 106.79103859589448 },
                { lat: parseFloat(this.$route.query.lat), lng: parseFloat(this.$route.query.lng) },
            ],
        };
    },
    methods: {
        toPage() {
            this.$router.push({ path: "/location", query: { lng: 106.82636895171409, lat: -6.201711003083159 } })
        },
        async doSomething() {
            if ("geolocation" in navigator) {
                navigator.geolocation.getCurrentPosition(async (position) => {
                    console.log(position);
                    this.center.lat = await position.coords.latitude;
                    this.center.lng = await position.coords.longitude;
                    // console.log(parseFloat(this.$route.query.lat));
                    // let latTo = await parseFloat(this.$route.query.lat);
                    // let longTo = await parseFloat(this.$route.query.lng)
                    //   await this.waypoints.push({lng: this.center.lng, lat: this.center.lat})
                    //   await this.waypoints.push({lng: longTo, lat: latTo})
                    console.log(this.waypoints);
                    this.waypoints[0].lng = await this.center.lng;
                    this.waypoints[0].lat = await this.center.lat;
                    // this.waypoints[1].lng = longTo;
                    // this.waypoints[1].lat = latTo;
                    // this.toLocation.lat = latTo
                    // this.toLocation.lng = longTo
                    // console.log(this.$route.query);
                    // console.log(this.toLocation);
                    this.status = await true
                    console.log("true");
                    console.log(this.status);
                    if (this.status == true) {
                        console.log("cekkk");
                        this.mapObject = await L.map(this.mapId, {
                            zoom: this.zoom,
                            center: this.center,
                        });

                        await L.tileLayer(this.osmUrl, {
                            attribution: this.attribution,
                        }).addTo(this.mapObject);
                    }
                });

            } else {
                /* geolocation IS NOT available */
            }


        }
    },
    created() {

    },
    mounted() {
        this.doSomething();


    },
};
</script>
  
<style>
html,
body,
#app {
    height: 100%;
    margin: 0;
}

.map {
    position: absolute;
    width: 100%;
    height: 100%;
}
</style>
  